<!--Footer Start here-->

<!-- start selling area -->
<div class="container my-5">
  
    <h1 style="text-align: center;">SELL ON MAHIARA</h1>
  <div class="footer">
      <hr>
        
      <p class="psell">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-foot">
        <button class="btn btn-primary  " style="font-size: 15px;padding: 10px 95px 10px 100px;align-items: center;">Start Selling Now</button>
      </div><!-- /col -->
    </div><!-- /row -->
    
    
  </div><!-- /container -->
  <!-- start selling area End -->
    <footer class="ct-footer">
      <div class="container">
        <form name="contentForm"  enctype="multipart/form-data" method="post" action="">
          <div class="ct-footer-pre text-center-lg" id="footerform">
            <div class="inner">
              <i class="fa fa-envelope" aria-hidden="true" style="font-size: 32px;"></i>
              <span>Get Special Discount in Your Inbox</span>
            </div>
            <div class="inner">
              <div class="form-group">
                <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> <button type="submit" class="btn btn-motive">SEND</button>
              </div>
  
            </div>
            <div class="inner">
                <strong>CONNECT WITH US </strong><br>
              <a href="#" class="fa fa-facebook" style="font-size: 32px; padding-right: 10px;" ></a>
              <a href="#" class="fa fa-instagram" style="font-size: 32px; padding-right: 10px;" ></a>  
              <a href="#" class="fa fa-whatsapp" style="font-size: 32px; padding-right: 10px;" ></a> 
              <a href="#" class="fa fa-twitter" style="font-size: 32px;padding-right: 10px;"></a>
              <a href="#" class="fa fa-google" style="font-size: 32px;padding-right: 10px;"></a>
              <a href="#" class="fa fa-linkedin" style="font-size: 32px;padding-right: 10px;"></a>
              <a href="#" class="fa fa-youtube" style="font-size: 32px;padding-right: 10px;"></a>
              </div>
          </div>
        </form>
        
        
        
        <ul class="ct-footer-list text-center-sm">
          <li>
            <h2 class="ct-footer-list-header">ABOUT</h2>
            <ul>
              <li>
                <a href="">Home</a>
              </li>
              <li>
                <a href="">Contact us</a>
              </li>
              <li>
                <a href="">About Us</a>
              </li>
              <li>
                <a href="">Careers</a>
              </li>
              <li>
                  <a href="">FAQ's</a>
                </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">HELP</h2>
            <ul>
              <li>
                <a href="">Track Order</a>
              </li>
              <li>
                <a href="">Payments</a>
              </li>
              <li>
                <a href="">Shipping</a>
              </li>
              <li>
                <a href="">Cancellation</a>
              </li>
              <li>
                <a href="">Returns</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">POLICY</h2>
            <ul>
              <li>
                <a href="">Return Policy</a>
              </li>
              <li>
                <a href="">Terms Of Use</a>
              </li>
              <li>
                <a href="">Security</a>
              </li>
              <li>
                <a href="">Privacy</a>
              </li>
          
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">TOP CATEGORIES</h2>
            <ul>
              <li>
                <a href=""> What's New</a>
              </li>
              <li>
                <a href="">Jewelry</a>
              </li>
              <li>
                <a href="">Jewelry Set</a>
              </li>
              <li>
                <a href="">Precious</a>
              </li>
              <li>
                <a href="">Today deal</a>
              </li>
            </ul>
          </li>
          <li>
            <h2 class="ct-footer-list-header">CONTACT</h2>
           <a>OFFICE ADDRESS:</a>
            <a>J2/49 DDA Flats</a>
          
              <a>Kalkaji,New Delhi 110019</a>
          
              <a>OFFICE NUMBER:</a>
              <a>+91-XXXXXXXXX,+91-XXXXXXXXX</a>
          </li>
        </ul>
        <div class="ct-footer-meta text-center-sm">
          <div class="row-foot">
            
            <div class="col-sm-6 col-md-3">
              <i class="fa fa-briefcase" aria-hidden="true" style="font-size: 32px;"></i>
              <a href="#" style="font-size: 20px;">Sell On Mahiara</a>   
          </div>
  
            <div class="col-sm-6 col-md-3">
              <i class="fa fa-audio-description" aria-hidden="true" style="font-size: 32px;"></i>
              <a href="#" style="font-size: 20px;">Advertise</a>   
            </div>
            <div class="col-sm-6 col-md-3 ">
              <i class="fa fa-gift" aria-hidden="true" style="font-size: 32px;"></i>
              <a href="#" style="font-size: 20px;">Offers</a>  
            </div>
            <div class="col-sm-6 col-md-3">
              <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 32px;"></i>
              <a href="#" style="font-size: 20px;">Help Center</a> 
            </div>
            
          </div>
        </div>
      </div>
  
      <!--For popup chat-->
  <!-- <div class="container">
  
      <button class="open-button" onclick="openForm()">Chat</button>
  
  <div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h1>Chat</h1>
  
      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg" required></textarea>
  
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>
  
  <script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
  </script>
  </div> -->
  
  <!--For popup chat-->
      <div class="ct-footer-post">
        <div class="container">
          <div class="inner-right">
            <ul>
              <li>
                  <i class="fa fa-credit-card" aria-hidden="true" style="color: white; font-size: 36px;"></i>
            
                  <i class="fa fa-cc-diners-club" aria-hidden="true"style="color: white; font-size: 36px;"></i>
              
             
                  <i class="fa fa-cc-paypal" aria-hidden="true" style="color: white; font-size: 36px;"></i>
              
              <i class="fa fa-cc-amex" style="font-size:36px; color:white;"></i>
              <i class="fa fa-cc-discover" style="font-size:36px; color:white;"></i>
              <i class="fa fa-cc-mastercard" style="font-size:36px;color:white;" ></i>
              <i class="fa fa-cc-visa" style="font-size:36px;color:white;"></i>
              <i class="fa fa-google-wallet" style="font-size:36px;color:red;"></i>
              <i class="fa fa-paypal" style="font-size:36px;color:blue;"></i>
              </li>
            </ul>
          </div>
          <div class="inner-left">
            <p>Copyright © 2020 Mahiara.com&nbsp;<a href="">Privacy Policy</a></p>
            
          </div>
        </div>
      </div>
    </footer>
    <!--Footer End here-->