<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo"><a id="logo" href="/">MAHIARA<b>|</b>Sellers</a></label>
  <ul>
<li><a  href="/">Home</a></li>
<li><a href="ourstory">Our Stories</a></li>
<li><a href="sellerdiaries">Seller's Diaries</a></li>
<li><a href="#">Fees Structure</a></li>
<li><a href="faq">FAQ's</a></li>
<button>Login/Register</button>
</ul>

</nav>