<!-- header part with login -->
<div>
    <div class="masthead responsive-image">
      <header class="entry-header">
         <h2 class="entry-subtitle">Become a Mahiara Seller and market to</h2>
         <h1 class="entry-title">100 millions customers!</h1>
       </header>
       <div class="entry-header"> 
         <form action="#" method="POST">
        <label class="joinus" for="joinus">Join Us Now !</label><br>
        <input class="tel" type="tel" id="tel" placeholder="Enter 10 Digit Mobile Number here">
        <input class="btnjoin" type="submit" value="Register Now ">
      </form>
    </div>
     </div>
   </div>
   <!-- header part with login -->
   </div>

<div class="container marketing">
  <h2 style="text-align: center;padding-top: 10%;">Sellers Expriences with Mahiara</h2>
  <div class="row">
    
  <div class="col-lg-4">
    
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><image href="img/dummy3.png" height="140" width="140"/></svg>
    <h2>Mahima Kesari</h2>
    <h4>CEO of Poppin Accessories</h4>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><image href="img/dummy3.png" height="140" width="140"/></svg>
    <h2>Mahima Kesari</h2>
    <h4>CEO of Poppin Accessories</h4>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><image href="img/dummy3.png" height="140" width="140"/></svg>
    <h2>Rajesh Kumar</h2>
    <h4>Founder of Brothers Tools</h4>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Benefits of selling with Mahiara</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.fyisdihdouFASYgl  udgs dsudg iudsaUDfisuaf d sUIDftuiSTDaLIHHSuady  AYSDf uADfuK  IYFDYIa fdIU</p>
  </div>
  <div class="col-md-5">
    <img src="img/img3.jpg" alt="Market Image">
    
  </div>
</div>

<!-- grid adrea start here -->
<div class="row">
  <div class="col-sm-6">
    
    <div class="card">
      <div class="card-body">
        
        <!-- <h5 class="card-title">Special title treatment</h5> -->
     <div> 
   
        <p class="card-text">Reach Millions of Customers</p>
        <img src="img/logo1.jpg"style="width: 100px;height: 100px;">
        <a href="benefits" class="btn btn-primary">Read More</a>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
       
        <p class="card-text">Free Store Launch,Easy Listing Process</p>
      
        <img src="img/logo2.jpg"style="width: 100px;height: 100px;">
        <a href="benefits" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Buisness Transperancy.</p>
        <img src="img/logo3.jpg"style="width: 100px;height: 100px;">
        <a href="benefits" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Quick Support & Training</p>
        <img src="img/logo4.jpg" style="width: 100px;height: 100px;">
        <a href="benefits" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- grid adrea end here -->
<!-- Heading Start here new -->
<div class="grid-heading">
<h1 class="grid-heading">Join Now to Boost your Online Jewelry Buisness</h1>
<p class="grid-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<!-- Heading Start here new -->
<!-- /END THE FEATURETTES -->
<div class="step-reg"><img src="img/banner.png" style="width: 100%;"></div>