<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/footer.css" type="text/css">
   <link rel="stylesheet" href="css/chatbox.css" type="text/css">
   <link rel="stylesheet" href="css/carousel.css" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet">
    
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mahiara Design</title>
    
</head>
<!-- nav bar area here start -->
<%- include('../partials/header.ejs') %>
<!-- nav bar area here end -->
<body>


    <!-- Benefits page start here -->
    <div class="parent">
      <!-- side bar for social share -->
    
      <%- include('../partials/sidelinkfaq.ejs') %>
    <!-- side bar for social share -->
      <div class="childB">
    <div class="blog">
      <h1 class="he1">Getting Started</h1>
     <h3 class="he3">Why Should I sell on Mahiara?</h3>
     <p class="pe"> Mahiara is the leader in Indian e-commerce site specifically for jewelry, with maximum online reach and highest credibility. With more
        than 10 crore registered customers, 10 million daily page visits and the lowest cost of doing business, we are the strongest partner to
        take your products to customers all over India. We have sale events that give each seller an equal opportunity to grow their business
        online.</p>   
      <h3 class="he3">Who can sell on Mahiara?</h3>
      <p class="pe"> Anyone selling new and genuine products is welcome. In order to start selling, you need to have :</p>
      <p class ="pe">GSTIN</p><p class ="pe">Cancelled Cheque</p><p class ="pe">Sample Signatures</p>
      <h3 class="he3">How do I sell on Mahiara?</h3> 
      <p class="pe">To sell on Mahiara: </p><p class="pe">Register yourself at seller.mahiara.com</p><p class="pe">List your products under specific product categories.</p><p class="pe">On receiving an order, pack the product and mark it as ‘Ready to Dispatch’. Our logistics partner will pick up the product and deliver it
        to the customer.</p> <p class="pe">After your order is successfully dispatched, Mahiara will settle your payment within 7-15 business days based on your seller tier.</p>
      
      <h3 class="he3">Can I offer both products and services on Mahiara?</h3> 
      <p class="pe"> Currently, you can only sell products and not services on Mahiara.</p>

      <h3 class="he3">Do I need to courier my products to Mahiara?</h3> 
      <p class="pe"> No, Mahiara will handle shipping of your products. All you need to do is pack the product and keep it ready for dispatch. Our logistics
        partner will pick up the product from you and deliver it to the customer.</p>

      <h3 class="he3">What are the documents required to register as a seller on Mahiara?</h3> 
      <p class="pe">You are required to have the following documents: </p>
      <p class="pe">GSTIN </p>
      <p class="pe">Cancelled cheque</p>
      <p class="pe">Sample signatures. <a href="#">Need Help?</a> </p>    
      <h3 class="he3">Who decides the price of the products?</h3> 
      <p class="pe"> As a seller, you will set the price of your products.</p>

      <h3 class="he3">Will I get charged for listing products on Mahiara?</h3> 
      <p class="pe"> No. Listing your products on Mahiara.com is absolutely free. Mahiara does not charge anything for listing your catalogue online. You
        only pay a small commission for what you sell</p>

      <h3 class="he3">Who takes care of the delivery of my products?</h3> 
      <p class="pe"> Our logistics partner will pick up the product from you and deliver it to the customer. All you need to do is keep it packed and ready for
        dispatch.</p>

      <h3 class="he3">How and when will I get paid?</h3> 
      <p class="pe">The payment will be made directly to your bank account through NEFT transactions. Mahiara will settle your payments within 7-15
        business days based on your seller tier.</p>

      <h3 class="he3">When can I start selling?</h3> 
      <p class="pe"> After all the required documents have been verified and your seller profile is complete, you can start listing your products and start
        selling.</p>

      <h3 class="he3">How many listings are required to start selling?</h3> 
      <p class="pe"> You are required to have a minimum of 1 listings(unique products) to start selling on Mahiara.</p>
        
    </div>
    </div>
    </div>
     <!-- Benifits page end here -->

    <!-- footer area start here -->
  <%- include('../partials/footer.ejs') %>
  <!-- footer area End here -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
  <script src="js/social.js"></script>
  <script type="text/javascript" src="js/nav.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </body>
  
  </html>