<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/footer.css" type="text/css">
   <link rel="stylesheet" href="css/chatbox.css" type="text/css">
   <link rel="stylesheet" href="css/carousel.css" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet">
    
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mahiara Design</title>
    
</head>
<!-- nav bar area here start -->
<%- include('../partials/header.ejs') %>
<!-- nav bar area here end -->
<body>


    <!-- Benefits page start here -->
    <div class="parent">
      <!-- side bar for social share -->
    
      <%- include('../partials/sidelinkfaq.ejs') %>
    <!-- side bar for social share -->
      <div class="childB">
    <div class="blog"><h1 class="he1">Listings and Catalog</h1>
     <h3 class="he3">What is listing?</h3>
     <p class="pe">Listing a product refers to filling out all the necessary information and adding images of the product so that a customer can make an
      informed buying decision.</p>   
      <h3 class="he3">How many products do I need to list to start selling?</h3>
      <p class="pe"> You are required to have a minimum of 1 listings to start selling on mahiara.com</p>
      <h3 class="he3">How do I list my products on Mahiara?</h3> 
      <p class="pe">We give you a step-by-step process of how to list your products on our website. It is important to choose the most suitable category to
        list your product as it will help customers find your products faster. Based on the category you choose, you'll be asked to include
        product details such as size, model, color, etc.</p>
      
      <h3 class="he3">Can I get help for the development of the catalog (product images, description, etc.)?</h3> 
      <p class="pe">Yes, we are happy to help you at every stage while doing business with us. We help you connect with industry experts for the development of your catalogs. With the help of our catalog partners across India, you can have attractive images and crisp content developed
        at unbeatable prices.</p>

      <h3 class="he3">How does a catalog partner help me?</h3> 
      <p class="pe"> When pricing products on Mahiara, please account for the applicable Marketplace Fee and include a suitable margin to arrive at the
        Selling Price. For ease of calculation, you can use our Commission Calculator widget once onboarded.</p>

      <h3 class="he3">Will I get charged for listing products on Mahiara?</h3> 
      <p class="pe">No. Listing of products on Mahiara.com is absolutely free. Mahiara does not charge anything to you for listing your catalogue online.
        You only pay a small commission for what you sell.</p>
      
    </div>
    </div>
    </div>
     <!-- Benifits page end here -->

    <!-- footer area start here -->
  <%- include('../partials/footer.ejs') %>
  <!-- footer area End here -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
  <script src="js/social.js"></script>
  <script type="text/javascript" src="js/nav.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </body>
  
  </html>