<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/footer.css" type="text/css">
   <link rel="stylesheet" href="css/chatbox.css" type="text/css">
   <link rel="stylesheet" href="css/carousel.css" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet">
    
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mahiara Design</title>
    
</head>
<!-- nav bar area here start -->
<%- include('../partials/header.ejs') %>
<!-- nav bar area here end -->
<body>


    <!-- Benefits page start here -->
    <div class="parent">
      <!-- side bar for social share -->
      <%- include('../partials/sidelinkfaq.ejs') %>
    <!-- side bar for social share -->
      <div class="childB">
    <div class="blog"><h1 class="he1">Order Management and Shipping</h1>
     <h3 class="he3">Who takes care of the delivery of my products?</h3>
     <p class="pe">Our logistics partner will pick up the product from you and deliver it to the customer. All you need to do is keep it packed and ready for
        dispatch</p>   
      <h3 class="he3">What should I do if my area is not serviceable by Mahiara?</h3>
      <p class="pe"> During registration, save the details of your pin code and click on the Continue button. You will be notified via e-mail when your pin
        code becomes serviceable.</p>
      <h3 class="he3">How do I manage my orders on Mahiara?</h3> 
      <p class="pe">Through our seller dashboard, we make it really easy for you to manage your orders. Whenever a customer places an order, we will
        send you an e-mail alert. You need to pack the order and keep it ready for dispatch within the time frame provided by you and inform
        us through the seller portal. This will alert our logistics partner to pick up the product from you.</p>
      
      <h3 class="he3">Does Mahiara provide packaging material?</h3> 
      <p class="pe">We have a strong network of best packaging material providers in the industry. We can connect you with them to get good quality
        packaging material which impresses the customers and ensures your products remain undamaged.
        </p>

      
    </div>
    </div>
    </div>
     <!-- Benifits page end here -->

    <!-- footer area start here -->
  <%- include('../partials/footer.ejs') %>
  <!-- footer area End here -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
  <script src="js/social.js"></script>
  <script type="text/javascript" src="js/nav.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </body>
  
  </html>