<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/footer.css" type="text/css">
   <link rel="stylesheet" href="css/chatbox.css" type="text/css">
   <link rel="stylesheet" href="css/carousel.css" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet">
    
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mahiara Design</title>
    
</head>
<!-- nav bar area here start -->
<%- include('../partials/header.ejs') %>
<!-- nav bar area here end -->
<body>


    <!-- Benefits page start here -->
    <div class="parent">
      <!-- side bar for social share -->
    
      <%- include('../partials/sidelinkfaq.ejs') %>
    <!-- side bar for social share -->
      <div class="childB">
    <div class="blog"><h1 class="he1">Pricing and Payments</h1>
     <h3 class="he3">Who decides the price of the product?</h3>
     <p class="pe"> As a seller, you will set the price of your products.</p>   
      <h3 class="he3">What are the fees charged?</h3>
      <p class="pe"> The following deductions are made from the order item value:
    </p>
      <p class ="pe">Commission fee: A percentage of the order item value based on vertical/sub-category</p><p class ="pe">Shipping fee: Calculated on the basis of the product weight and shipping location</p><p class ="pe">Collection fee: This will vary based on order item value and customer payment mode (Prepaid/Cash on Delivery)</p><p class ="pe">Fixed fee: A slab wise Fixed fee. This varies based on Order item value</p><p class ="pe">You can view the entire pricing details</p>
      <h3 class="he3">What is Commission fee and how much commission is charged?</h3> 
      <p class="pe">Commission fee is a certain percentage of the order item value of your product. It differs across categories and vertical/sub-categories.</p>
      
      <h3 class="he3">Please give an example to show the cost calculation.</h3> 
      <p class="pe"> Here’s an easy example, which illustrates a sample for the above calculation</p>

      <h3 class="he3">How and when do I get paid?</h3> 
      <p class="pe"> All payments are made through NEFT transactions (online banking). The payment is made directly to your bank account within the next
        7-15 business days from the date of order dispatch.</p>

      <h3 class="he3">What are the documents required to register as a seller on Mahiara?</h3> 
      <p class="pe">You are required to have the following documents: </p>
      <p class="pe">GSTIN </p>
      <p class="pe">Cancelled cheque</p>
      <p class="pe">Sample signatures. <a href="#">Need Help?</a> </p>    
      
      <h3 class="he3">Who decides the price of the products?</h3> 
      <p class="pe"> As a seller, you will set the price of your products.</p>

      <h3 class="he3">Will I get charged for listing products on Mahiara?</h3> 
      <p class="pe"> No. Listing your products on Mahiara.com is absolutely free. Mahiara does not charge anything for listing your catalogue online. You
        only pay a small commission for what you sell</p>

      <h3 class="he3">Who takes care of the delivery of my products?</h3> 
      <p class="pe"> Our logistics partner will pick up the product from you and deliver it to the customer. All you need to do is keep it packed and ready for
        dispatch.</p>

      <h3 class="he3">How and when will I get paid?</h3> 
      <p class="pe">The payment will be made directly to your bank account through NEFT transactions. Mahiara will settle your payments within 7-15
        business days based on your seller tier.</p>
    </div>
    </div>
    </div>
     <!-- Benifits page end here -->

    <!-- footer area start here -->
  <%- include('../partials/footer.ejs') %>
  <!-- footer area End here -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
  <script src="js/social.js"></script>
  <script type="text/javascript" src="js/nav.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </body>
  
  </html>