<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel="stylesheet" href="css/footer.css" type="text/css">
   <link rel="stylesheet" href="css/chatbox.css" type="text/css">
   <link rel="stylesheet" href="css/carousel.css" type="text/css">

<link href="css/bootstrap.css" rel="stylesheet">
    
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mahiara Design</title>
    
</head>
<!-- nav bar area here start -->
<%- include('../partials/header.ejs') %>
<!-- nav bar area here end -->
<body>

  <!-- main content start here -->
<%- include('../partials/main.ejs') %>
  <!-- main content start here -->
<!-- footer area start here -->
  <%- include('../partials/footer.ejs') %>
<!-- footer area End here -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

</html>